@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&family=Ubuntu:ital@1&display=swap");

body {
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  height: 100vh;
  background-image: url(./notebook-with-list-laptop.jpg);
  background-position: center;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
}

::placeholder {
  color: blue !important;
}

.container {
  max-width: 300px;
  margin-top: 150px;
  min-width: 250px;
}

h1 {
  color: white;

  font-weight: 900;
}

.text-light {
  font-size: 1.5rem;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: 10px;
  background-color: rgba(20, 20, 20, 0.8);
}

.todos li {
  background-color: rgb(247, 231, 211);
  font-size: 1rem;
}

.delete {
  cursor: pointer;
}

.label-color {
  font-size: 2rem;
  font-weight: bolder;
}
